* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

.container {
    padding: 40px;
    background-color: #dadada;
}

.header {}

.main {
    background-color: #fafafa;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 20px 24px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 24px 0px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.main-top {
    display: flex;
    gap: 10px;
}

.main-mid {
    margin: 24px 0px;
    color: gray;
}

.main-bottom {
    display: flex;
    justify-content: space-between;
}

.box {
    border: 1px solid #dadada;
    height: 100px;
    width: 150px;
    background-color: blue;
    border-radius: 6px;
    margin: 0 36px;
    color: #fafafa;
}

.header-redirect {
    display: flex;
    padding: 12px 0px;
}

.header-redirect li:first-child {
    font-weight: 600;
}

.heading {
    font-size: 24px;
    padding: 24px 0;
}

.list-item {
    display: flex;
    gap: 20px;
    font-weight: 600;
}

.driven {
    border: 3px solid purple;
    width: 60px;
    margin: 20px 0px;
}

.elit {
    font-size: 24px;
    font-weight: 600;
}

.main-top2 {
    border: 1px solid #dadada;
    border-radius: 6px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.box1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box2 {
    background-color: orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box3 {
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.number {
    font-weight: 600;
}

.Wor {
    color: gray;
}